[OPTIONS]

enable: {{ 1 if firewall.cluster.enabled else 0 }}
{% if firewall.cluster.input_policy %}
policy_in: {{ firewall.cluster.input_policy }}
{% endif %}
{% if firewall.cluster.output_policy %}
policy_out: {{ firewall.cluster.output_policy }}
{% endif %}

[RULES]

{% for rule in firewall.cluster.rules %}
{{ rule.direction }} {{ rule.action }} -p {{ rule.protocol }} -dport {{ rule.destination_port }} -log {{ rule.log }}{% if rule.comment %} # {{ rule.comment }}{% endif %}
{% endfor %}
