[OPTIONS]

{% if guest_firewall.log_level_in is defined %}
log_level_in: {{ guest_firewall.log_level_in }}
{% endif %}
enable: {{ 1 if guest_firewall.enabled else 0 }}

{% if guest_firewall.rules %}
[RULES]

{% for rule in guest_firewall.rules %}
{{ '|' if rule.enabled is defined and not rule.enabled else '' }}{{ rule.direction }} {{ rule.action }}{% if rule.interface is defined %} -i {{ rule.interface }}{% endif %}{% if rule.protocol is defined %} -p {{ rule.protocol }}{% endif %}{% if rule.destination_port is defined %} -dport {{ rule.destination_port }}{% endif %} -log {{ rule.log }}{% if rule.comment is defined %} # {{ rule.comment }}{% endif %}
{% endfor %}
{% endif %}
