# Managed by h4des-iac recovery workflow
auto lo
iface lo inet loopback

{% for interface in network.interfaces %}
iface {{ interface.name }} inet {{ interface.method }}

{% endfor %}
{% for bridge in network.bridges %}
auto {{ bridge.name }}
iface {{ bridge.name }} inet {{ bridge.method }}
{% if bridge.address is defined %}
    address {{ bridge.address }}
{% endif %}
{% if bridge.gateway is defined %}
    gateway {{ bridge.gateway }}
{% endif %}
    bridge-ports {{ bridge.ports | join(' ') if bridge.ports else 'none' }}
    bridge-stp {{ 'on' if bridge.stp else 'off' }}
    bridge-fd {{ bridge.forward_delay }}

{% endfor %}
source /etc/network/interfaces.d/*
